
.nav{
  background:linear-gradient(to right,rgba(103, 34, 128, 1),rgba(166, 38, 211, 1));
  @include flex(space-between,center);
  color: white;
  padding:0 rem(20);
  height:rem(65);
  &__logo{
   @include flex(space-between,center);
    column-gap: rem(10);
    &--img{
      width: rem(31);
      height: rem(26);
    }
  }
}
